<!-- Navbar -->
<nav class="navbar">
    <div class="container nav-container">

        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}">
        </div>

        <div class="nav-links" id="navLinks">
            <a href="#">Browse Events</a>
            <a href="#">Organizer</a>
            <a href="#">Admin</a>

            <a href="{{ url_for('signup') }}" class="signin-btn">Sign Up</a>
        </div>

        <div class="menu-icon" id="menuIcon">
            <i class="fa-solid fa-bars"></i>
        </div>

    </div>
</nav>