/* Hero */

.hero {
    padding: 80px 20px;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: auto;
}

.hero h1 {
    font-size: 60px;
    color: #111;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #4f46e5;
}

.hero p {
    font-size: 22px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.primary-btn {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.secondary-btn {
    background: white;
    color: #4f46e5;
    border: 2px solid #4f46e5;
    padding: 14px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Features */

.features {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card i {
    font-size: 35px;
    color: #4f46e5;
    margin-bottom: 20px;
}

.feature-card h3 {
    margin-bottom: 15px;
    color: #111;
}

.feature-card p {
    color: #666;
    line-height: 1.5;
}

/* CTA */

.cta-section {
    margin-top: 100px;
    background: #4f46e5;
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.cta-section h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.cta-section p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-section button {
    background: white;
    color: #4f46e5;
    border: none;
    padding: 14px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Footer */

footer {
    background: #111827;
    color: #aaa;
    text-align: center;
    padding: 30px;
}

/* Responsive */

@media(max-width:900px) {

    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero h1 {
        font-size: 45px;
    }
}

@media(max-width:768px) {

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        padding: 20px;
        display: none;
        border-top: 1px solid #ddd;
    }

    .nav-links.active {
        display: flex;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 38px;
    }

    .hero p {
        font-size: 18px;
    }
}