{% extends 'common/base.html' %}

{% block title %}Create Event{% endblock %}

{% block content %}

<div class="create-container">

    <h1>Create Event</h1>

    <form method="POST">

        <input type="text" name="title" placeholder="Event Title" required>

        <select name="genre">
            <option value="Entertainment">Entertainment</option>
            <option value="Sports">Sports</option>
        </select>

        <input type="date" name="date" required>

        <input type="text" name="location" placeholder="Location" required>

        <textarea name="description" placeholder="Event Description"></textarea>

        <button type="submit">Create Event</button>

    </form>

</div>

{% endblock %}