{% extends 'common/base.html' %}

{% block title %}
Signup
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}

<div class="signup-container">
    <div class="signup-box">

        <h2>Create Account</h2>

        <form  method="POST" action="{{ url_for('auth.register') }}">
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <br><br>

            <select name="role">
              <option value="student">Student</option>
              <option value="organizer">Organizer</option>
              <option value="admin">Admin</option>
            </select>
            <br><br>

            <button type="submit">Sign Up</button>
        </form>

        <p>Already have an account? <a href="#">Login</a></p>

    </div>
</div>

{% endblock %}